@{
	ViewBag.Title = "Forgot password";
}

<div class="row">
	<h2>@ViewBag.Title</h2>
</div>
<br />
<br />
<div class="row">
	<div>
		<div class="form-row">
			<input id="email" type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
		</div>
		<div class="row">
			<button id="btnResetLink" type="submit" class="btn btn-primary">
				<span>Send reset link</span>
			</button>
		</div>
	</div>
</div>


@section scripts
{
	<script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
	<script src="~/lib/jquery-validation- unobtrusive/jquery.validate.unobtrusive.js"></script>

	@Styles.Render("//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css")
	@Scripts.Render("//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")

	<script type="text/javascript">

	$("#btnResetLink").on("click", function (e) {
		var email = $('#email').val();
		$.ajax({
			type: "POST",
			datatype: "json",
			contenttype: 'application/json; charset=utf-8',
			url: '@Url.Action("ForgotPassword", "Home")',
			async: true,
			data: { email: email },
			success: function (data) {
				alert("Reset link has been sent.");
			},
			error: function () {
				alert("Failed sending reset link.");
			}
		});
	});

	</script>
}