@{
	ViewBag.Title = "Home";
}

<div class="row">
	<h2>@ViewBag.Title</h2>
</div>
<br />
<br />
<div class="row">
	<h4>Welcome @ViewBag.FirstName! <br /><br />This is the home page. You can navigate to other pages from the navigation bar on top.</h4>
</div>